/**
    * @name Rainboo
    * @version 0.6
    * @description In dev. theme with night ambiance and touches of RGB
    * @author Prophix#8285
    * @updateurl https://github.com/Julien-res/Rainboo-discord-theme/blob/main/Rainboo.theme.css
    * @authorid 1017498851814408232
    * @website 
    * @source https://github.com/Julien-res/Rainboo-discord-theme
**/

@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://julien-res.github.io/Rainboo-discord-theme/Rainboo.css');


:root {
    --channels-default: #adadb8;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: rgb(255, 255, 255);
    --background-primary:rgb(38, 38, 46);
    --background-secondary: rgb(0, 0, 0);
    --background-secondary-alt: rgb(24, 24, 28);
    --background-tertiary: hsl(240, 6%, 10%);
    --background-accent: var(--color-gray-darker);
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(255, 255, 255, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --brand-experiment: var(--color-brand)
}
